#input-table {
    display: table;

    #submit {
        float:right;
    }

    #table-header {
        display: table-header-group;

        .select-area {
            width: 20%;
            margin-left: 0px;
            margin-right: 18px;
            margin-bottom: 5px;
        }

    }

    #table-body {
        .input-area {
            width: 19%;
            margin-left: 0px;
            margin-right: 20px;
            margin-top: 0px;
            margin-bottom: 5px;
        }

    }
}

