#input-table {
    display: table;

    #submit {
        float: right;
    }

    #table-header {
        display: table-header-group;

        .select-area {
            width: 264px;
            margin-left: 0px;
            margin-right: 19px;
            margin-bottom: 5px;
        }

    }

    #table-body {
        .input-area {
            width: 255px;
            margin-left: 0px;
            margin-right: 20px;
            margin-top: 0px;
            margin-bottom: 5px;
        }

    }
}

.selector{
    margin-right: 20px;
}